<div class="row" *ngFor="let img of imagen">
    
    <div class="row">
        <div class="col-md-5">
            <div class="card">
                <img [src]="'http://localhost:3000/' + img.imagenUrl" class="img-fluid">
            </div>
        </div>
        <div class="col-md-7">
            <div class="card">
                <form class="card-body" (submit)="updateImagen(nombre, descripcion)">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Photo's Title" [value]="img.nombre" #nombre>
                    </div>
                    <div class="form-group">
                        <textarea rows="2" class="form-control" placeholder="Photo's Description" [value]="img.descripcion" #descripcion></textarea>
                    </div>
                    <button class="btn btn-primary btn-block">
                        Editar
                    </button>
                </form>
            </div>
        </div>
    </div>
    <button class="btn btn-danger" (click)="deleteImagen(img.id)">
        Eliminar
    </button>
</div>
