
<div id="menu" class="menu">
    <form action="">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="search user" >
        </div>
    </form>
    <div class="container-nav">
      <nav class="main-nav" role="navigation">
        <ul class="main-menu" >
            <li *ngFor="let contact of contacts "  (click)="mostrarInfo(contact)" >
              <p>{{contact.contact}}</p>
            </li>
        </ul>
      </nav>
    </div>
</div>

<section>
    <div id="map"></div>
</section >
                 




 
   

        
     